@use '../abstracts/variables';

.todos--filters {
  background-color: var(--accent-primary-soft);
  border-radius: var(--radius);
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: 15%;
  padding: 16px;
  margin-right: 8px;

  h3 {
    font-size: 16px;
    color: var(--accent-primary);
    margin: 8px 0;
  }

  select {
    padding: 10px 16px;
    width: 100%;
    border-radius: 8px;
    border: 1px solid var(--border);
    background: var(--surface);
    color: var(--text-primary);
    cursor: pointer;
    transition: all 0.2s ease-in-out;

    &:hover {
      border-color: var(--accent-primary);
    }
  }
}

@media (max-width: 1024px) {
  .todos--filters {
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    max-width: calc(100% - 32px);
    margin-bottom: 16px;
  }
}
