@use '../abstracts/variables';

body {
  background: var(--bg);
  color: var(--text-primary);
  font-family: sans-serif;
  margin: 0;
}

.app {
  display: flex;
  flex-direction: row;
  margin: 16px;
  max-height: calc(100vh - 32px);
}

@media (max-width: 1024px) {
  .app {
    flex-direction: column;
  }
}
