@use '../abstracts/variables';

body {
  background: var(--bg);
  color: var(--text-primary);
  font-family: sans-serif;
  margin: 0;
}

.app {
  display: flex;
  flex-direction: row;
  margin: 8px;
  height: calc(90vh - 16px);
}

@media (max-width: 1024px) {
  .app {
    flex-direction: column;
  }
}